[include]
    path = ~/.gitconfig.local

[diff]
	tool = vimdiff
[difftool]
	prompt = false
[difftool "vimdiff"]
    # This is the default command line used by git *without* -R, which would otherwise make vim open buffers in read-only.
    cmd = vim -f -d -c 'wincmd l' -c 'cd "$GIT_PREFIX"' "$LOCAL" "$REMOTE"
[merge]
	tool = vimdiff
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	dft = difftool
[core]
	excludesfile = ~/.gitignore
	editor = vim
[mergetool]
	keepBackup = false
