[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/bundle/vim-diff-enhanced"]
	path = .vim/bundle/vim-diff-enhanced
	url = https://github.com/chrisbra/vim-diff-enhanced.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/vim-markify"]
	path = .vim/bundle/vim-markify
	url = https://github.com/dhruvasagar/vim-markify.git
[submodule ".vim/bundle/vim-bufkill"]
	path = .vim/bundle/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/HiCursorWords"]
	path = .vim/bundle/HiCursorWords
	url = https://github.com/jkerian/HiCursorWords.git
[submodule ".vim/bundle/vim-signify"]
	path = .vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule ".vim/bundle/VimCompletesMe"]
	path = .vim/bundle/VimCompletesMe
	url = https://github.com/ajh17/VimCompletesMe.git
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/bundle/vim-qf"]
	path = .vim/bundle/vim-qf
	url = https://github.com/romainl/vim-qf.git
[submodule ".vim/bundle/vim-filebeagle"]
	path = .vim/bundle/vim-filebeagle
	url = https://github.com/jeetsukumaran/vim-filebeagle.git
[submodule ".bash-git-prompt"]
	path = .bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule ".vim/bundle/vim-perforce"]
	path = .vim/bundle/vim-perforce
	url = https://github.com/nfvs/vim-perforce.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-rhubarb"]
	path = .vim/bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule ".vim/bundle/fugitive-gitlab.vim"]
	path = .vim/bundle/fugitive-gitlab.vim
	url = https://github.com/shumphrey/fugitive-gitlab.vim.git
[submodule ".vim/bundle/vim-dirdiff"]
	path = .vim/bundle/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff.git
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/linediff.vim"]
	path = .vim/bundle/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule ".vim/bundle/greplace"]
	path = .vim/bundle/greplace
	url = https://github.com/yegappan/greplace
[submodule ".vim/bundle/vim-printf"]
	path = .vim/bundle/vim-printf
	url = https://github.com/mptre/vim-printf.git
[submodule ".vim/bundle/vim-foldsearch"]
	path = .vim/bundle/vim-foldsearch
	url = https://github.com/embear/vim-foldsearch.git
[submodule ".vim/bundle/vim-highlightedyank"]
	path = .vim/bundle/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
[submodule ".vim/bundle/vim-peekaboo"]
	path = .vim/bundle/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo.git
[submodule ".vim/bundle/diffchar.vim"]
	path = .vim/bundle/diffchar.vim
	url = https://github.com/rickhowe/diffchar.vim.git
[submodule ".vim/bundle/t4-vim"]
	path = .vim/bundle/t4-vim
	url = https://github.com/sillyotter/t4-vim.git
