[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/bundle/vim-diff-enhanced"]
	path = .vim/bundle/vim-diff-enhanced
	url = https://github.com/chrisbra/vim-diff-enhanced.git
