[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/bundle/vim-diff-enhanced"]
	path = .vim/bundle/vim-diff-enhanced
	url = https://github.com/chrisbra/vim-diff-enhanced.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/vim-markify"]
	path = .vim/bundle/vim-markify
	url = https://github.com/dhruvasagar/vim-markify.git
[submodule ".vim/bundle/omnisharp-vim"]
	path = .vim/bundle/omnisharp-vim
    url = https://github.com/mortelle1806/omnisharp-vim.git
    branch = custom
[submodule ".vim/bundle/vim-bufkill"]
	path = .vim/bundle/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/HiCursorWords"]
	path = .vim/bundle/HiCursorWords
	url = https://github.com/jkerian/HiCursorWords.git
[submodule ".vim/bundle/vim-signify"]
	path = .vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule ".vim/bundle/VimCompletesMe"]
	path = .vim/bundle/VimCompletesMe
	url = https://github.com/ajh17/VimCompletesMe.git
