URxvt.iso14755: off
URxvt.iso14755_52: off

URxvt.background:	#1F1D19
URxvt.foreground:	#DEDEDE

URxvt.color3:           DarkGoldenrod
URxvt.color4:           RoyalBlue
URxvt.color11:          LightGoldenrod
URxvt.color12:          LightSteelBlue
URxvt.color7:           gray75
URxvt.colorBD:          #ffffff
URxvt.colorUL:          LightSlateGrey
URxvt.colorIT:          SteelBlue
URxvt.cursorColor:      grey90
URxvt.highlightColor:   grey25


URxvt.font:			xft:Bitstream Vera Sans Mono:size=10:antialias=true:hinting=true
URxvt.boldFont:		xft:Bitstream Vera Sans Mono:bold:size=10:antialias=true:hinting=true
URxvt.scrollBar:	false
URxvt.saveLines:	65535
URxvt.perl-ext-common: keyboard-select,url-select,clipboard,tabbed
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
Xft*dpi:       96
Xft*antialias: True
Xft*hinting:   Full
URxvt.keysym.KP_Add:    +
URxvt.keysym.KP_Subtract: -
URxvt.keysym.KP_Multiply: *
URxvt.keysym.KP_Divide  : /
URxvt.keysym.KP_Decimal : .
URxvt.keysym.KP_Separator : ,
URxvt.keysym.KP_1:      1
URxvt.keysym.KP_2:      2
URxvt.keysym.KP_3:      3
URxvt.keysym.KP_4:      4
URxvt.keysym.KP_5:      5
URxvt.keysym.KP_6:      6
URxvt.keysym.KP_7:      7
URxvt.keysym.KP_8:      8
URxvt.keysym.KP_9:      9
URxvt.keysym.KP_0:      0

URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: 0
